.sobre {
    background-color: #8181f7;
}
.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #5852fa;
}
.bg-footer {
    background-color: black;
    color: whitesmoke;
}